.gridDiv{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 130px;
    margin-bottom: 100px;
    background-color:rgb(104, 104, 125) ;
    width: 80%;
    /* height: 450px; */
    grid-gap: 10px;
    float:right;
    padding-bottom: 18px;
    border: 5px solid burlywood;
}

.gridImg {
    width: 100px;
    height: 100px;
    padding: 20px 50px 20px;
    margin-left: 92px;
    float: left;
  }
.gridP{
    text-align: center;
    margin-left: 85px;

}
.gridButton {
    margin-left: 146px;
    border: solid 1px;
    border-radius: 5px;
    color: grey;
    background-color: black;
    padding: 5px;
  }
.gridButton a:hover{
    background-color: aliceblue;
    color: #000;
}

@media only screen and (max-width:1000px){

   body{
    background-color: black;
   }
   .gridDiv {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    margin-right: 56px;
    margin-top: 130px;
    margin-bottom: 100px;
    background-color: rgb(104, 104, 125);
    width: 86%;
    height: 413px;
    grid-gap: 10px;
    float: right;
  }

  .gridImg {
    width: 100px;
    height: 100px;
    padding: 20px 50px 20px;
    margin-left: 15px;
    float: left;
  }
  .gridP {
    text-align: center;
    margin-left: 8px;
    font-size: 15px;
  }
  .gridButton {
    margin-left: 77px;
    border: solid 1px;
    border-radius: 5px;
    color: grey;
    background-color: black;
    padding: 5px;
  }
  .innerDiv{
    width:100%;
  }
.gridButton a:hover{
    background-color: aliceblue;
    color: #000;
}

}

@media only screen and (max-width:600px){
  .gridDiv {
    display: grid;
    grid-template-columns: 220px 150px;
    margin-right: 29px;
    margin-top: 130px;
    margin-bottom: 100px;
    background-color: rgb(104, 104, 125);
    width: 100%;
    height: 664px;
    grid-gap: 10px;
    float: right;
}
.gridP {
  text-align: center;
  margin-left: 50px;
  font-size: 15px;
}
.gridButton {
  margin-left: 61px;
  border: solid 1px;
  border-radius: 5px;
  color: grey;
  background-color: black;
  padding: 5px;
}
}
@media only screen and (max-width:400px)
{
  .gridDiv {
    display: grid;
    grid-template-columns: 190px 150px;
    margin-right: 81px;
    margin-top: 130px;
    margin-bottom: 100px;
    background-color: rgb(104, 104, 125);
    width: 80%;
    height: 664px;
    grid-gap: 10px;
    float: right;
}
}