
#maintable{
    width: 50%;
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#maintable th{
    color: blue;
    border: 1px solid black;
    text-align: center;

}
#title>thead>tr>th{
    text-align: center;
    color: brown;
}
#maintable td{
    color: aquamarine;
    border: 1px solid black;
    text-align: center;
}
